Collecting flask
  Obtaining dependency information for flask from https://files.pythonhosted.org/packages/7f/9c/34f6962f9b9e9c71f6e5ed806e0d0ff03c9d1b0b2340088a0cf4bce09b18/flask-3.1.3-py3-none-any.whl.metadata
  Using cached flask-3.1.3-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: pip in ./.venv/lib/python3.12/site-packages (23.2.1)
